body,
textarea,
input,
select {
  background: 0;
  border-radius: 0;
  font: 16px sans-serif;
  margin: 0;
}
.addon,
.btn-sm,
.nav,
textarea,
input,
select {
  outline: 0;
  font-size: 14px;
}
.smooth {
  transition: all 0.2s;
}
.btn,
.nav a {
  text-decoration: none;
}
.container {
  margin: 0 20px;
  width: auto;
}
@media (min-width: 1310px) {
  .container {
    margin: auto;
    width: 1270px;
  }
}
.btn,
h2 {
  font-size: 2em;
}
.btn {
  background: #999;
  border-radius: 6px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 2px 0;
  padding: 12px 30px 14px;
}
.btn:hover {
  background: #888;
}
.btn:active,
.btn:focus {
  background: #777;
}
.btn-a {
  background: #0ae;
}
.btn-a:hover {
  background: #09d;
}
.btn-a:active,
.btn-a:focus {
  background: #08b;
}
.btn-b {
  background: #3c5;
}
.btn-b:hover {
  background: #2b4;
}
.btn-b:active,
.btn-b:focus {
  background: #2a4;
}
.btn-c {
  background: #d33;
}
.btn-c:hover {
  background: #c22;
}
.btn-c:active,
.btn-c:focus {
  background: #b22;
}
.btn-sm {
  border-radius: 4px;
  padding: 10px 14px 11px;
}
label > * {
  display: inline;
}
form > * {
  display: block;
  margin-bottom: 10px;
}
textarea,
input,
select {
  border: 1px solid #ccc;
  padding: 8px;
}
textarea:focus,
input:focus,
select:focus {
  border-color: #5ab;
}
textarea,
input[type='text'] {
  -webkit-appearance: none;
  width: 13em;
  outline: 0;
}
.addon {
  box-shadow: 0 0 0 1px #ccc;
  padding: 8px 12px;
}
